nvim/plugin/packer_compiled.lua
BraveSoftware
Code
google-chrome
TabNine
discord
libreoffice/4/user
dconf
ibus
pulse
user-dirs.dirs
user-dirs.locale
Joplin
joplin-desktop
yelp
evolution
gnome-initial-setup-done
gtk-3.0
.gsd-keyboard.settings-ported
htop
gh
lazygit
mimeapps.list
nvim/lazy-lock.json
kitty
github-copilot
configstore
