BraveSoftware/Brave-Browser
TabNine
dconf
evolution/sources
gtk-3.0
ibus/bus
microsoft-edge
user-dirs.locale
mimeapps.list
user-dirs.dirs
gnome-initial-setup-done
.gsd-keyboard.settings-ported
pulse
spotify
syncthing
lazygit
tmux/plugins
google-chrome
gedit
enchant
libreoffice/4/user
nautilus
nvim/lazy-lock.json
fish/fish_variables
fish/fish_plugins
Code
tiling-assistant
GNOME-xdg-terminals.list
ubuntu-xdg-terminals.list
xdg-terminals.list
gtk-2.0
nitrogen
htop
glib-2.0/settings
update-notifier
autostart
variety
monitors.xml
nextjs-nodejs
pop-shell
pop-system-updater
touchegg
gnome-control-center/backgrounds
clipit
menus/applications-merged
totem
copyq
gh
github-copilot
nvim/pack/github/start/copilot.vim
