* {
  border: none;
  border-radius: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background-color: rgba(30, 30, 46, 0.8); /* 80% opacity */
  color: #cdd6f4;
}

.modules-left,
.modules-right {
  border-radius: 20px;
  margin: 5px 10px;
  padding: 0 5px;
}

#custom-arch,
#workspaces,
#pulseaudio,
#network,
#bluetooth,
#battery,
#backlight,
#clock,
#custom-power {
  border: 1px solid #181825;
  border-radius: 20px;
  padding: 0px 10px;
  margin: 2px 0px;
  margin-top: 2px;
  margin-bottom: 2px;
  background: #1e1e2e;
  opacity: 0.8;
}

#workspaces button {
  padding: 5px;
  color: #b4befe;
}

#workspaces button.active {
  color: cyan;
  background: #2a2a3c;
  border: 1px solid #181825;
  border-radius: 20px;
}

#workspaces button:hover {
  color: whitesmoke;
  background: #504f71;
  border: 1px solid #181825;
  border-radius: 20px;
}

#workspaces button.urgent {
  color: #ffff00;
  background: #ff073a;
  border: 1px solid #ff073a;
  border-radius: 20px;
}

#custom-arch {
  color: #89b4fa;
  padding-right: 10px;
  padding-left: 10px;
}

#pulseaudio {
  color: #bf00ff;
}

#bluetooth {
  color: #00f0ff;
}

#battery {
  color: #39ff14;
}

#network {
  color: #ff6f00;
}

#backlight {
  color: #ffff00;
}

#clock {
  color: #e6a1ff;
}

#custom-power {
  color: #ff3b00;
}
