/* macOS Spotlight style for Wofi */
window {
    margin: 0;
    padding: 0;
    background-color: transparent;
    border-radius: 15px;
    font-family: "SF Pro Display", "Helvetica Neue", sans-serif;
    backdrop-filter: blur(80px);
    -webkit-backdrop-filter: blur(80px);
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.4);
}

#outer-box {
    margin: 20px;
    padding: 0;
    background-color: transparent;
}

#input {
    margin: 0;
    padding: 8px 15px;
    border: none;
    color: #ffffff;
    font-size: 14px;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

#inner-box {
    margin: 5px;
    padding: 10;
    background-color: transparent;
}

#scroll {
    margin: 0;
    padding: 0;
    background-color: transparent;
}

#text {
    margin: 5px;
    padding: 5px;
    color: #ffffff;
    font-size: 12px;
    font-weight: normal;
}

#entry {
    padding: 5px;
    margin: 0px 5px;
    border-radius: 5px;
    width: 100%;
}

#entry:selected {
    background-color: transparent;
    border: 1px solid rgba(76, 158, 235, 0.8);
    box-shadow: 0 0 2px rgba(76, 158, 235, 0.5);
    width: 100%;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.7);
}

#img {
    margin: 5px;
    padding: 5px;
}
